
/* FOOTER */ 

footer .foot {
    background: #363636;
    padding-left: 5%;
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    a:last-of-type {
        color: white;
        text-decoration: none;
    }
}

footer a {
    padding-bottom: 5px;
    font-size: 0.95em;

    i {
        width: 22px;
        font-size: 0.9em;
    }
}