
@mixin butprinc {
    box-shadow: 4px 4px 8px #212121;
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}


/* MENU */ 

.menu {
    background: #fafafa;

    .backimg {
    
        background-repeat: no-repeat;
        height: 305px;
        position: relative;
    
        &.menu1 {
            background-image: url('images/restaurants/restaurantmenu1/restaurant1.jpg');
        }
    
        &.menu2 {
            background-image: url('images/restaurants/restaurantmenu2/restaurant1.jpg');
        }
    
        &.menu3 {
            background-image: url('images/restaurants/restaurantmenu3/restaurant1.jpg');
        }
    
        &.menu4 {
            background-image: url('images/restaurants/restaurantmenu4/restaurant1.jpg');
        }
    
        .flex {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: #fafafa;
            border-radius: 40px 40px 0 0;
            padding-left: 5%;
            padding-bottom: 30px;
        }
        h1 {
            font-size: 1.7em;
            font-family: 'Shrikhand', cursive;
        }

        .coeur {
            @include coeur;
        }
    }

    h2 {
        margin-left: 5%;
        border-bottom: 3px solid #99E2D0;
        color: #363636;
        margin-bottom: 15px;
        padding-bottom: 5px;
        width: 10%;
        font-size: 1em;
    }
    .entre, .plats {
        margin-bottom: 40px;
    }
    .button {
        font-size: 1em;
        height: 50px;
        width: 50%;
        border: none;
        border-radius: 30px;
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 3px 3px 8px #999999;
        margin-left: 25%;
        margin-top: 25px;
        margin-bottom: 80px;

        &:hover {
            @include butprinc;
        }
    }

    .content {
        background: white;
        border-radius: 10px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 15px;
        box-shadow: 1px 2px 8px #bdbdbd;
        height: 60px;
    
        h3 {
            font-weight: bold;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 1em;
        }
        .title {
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 0.95em;
        }
        p:last-of-type {
            color: #2b2b2b;
            font-weight: bold;
            margin-right: 5%;
        }
    }
}