
/* PAGE ACCUEIL */

header {

    a {
        top: 35px;
        font-size: 1.5em
    }

    .localisation {
        font-size: 1.5em;
        padding-right: 35px;
    }
}

.sectionhead {
    width: 70%;
    margin: auto;
}

.restaurants {

    .deskflex {

        .tab1, .tab2 {
            display: flex;
            margin-right: 5%;
        }
    }
}


/* PAGE MENU */

header {

    a {
        top: 35px;
        font-size: 1.7em;
        right: 480px;
    }
}


.menu {

    .backimg {
        @include pos;

        .flex {
            background: #ebebeb;
        }

        .coeur {
            &:focus {
                .fa-heart {
                    @include coeur-active;
                }
            }
        }
    }

    
    .for {
        @include pos;
        background: #ebebeb;
        padding-bottom: 15px;

        .content {
            &:focus {
                .check {
                    width: 55px;
    
                    i {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }
    }
}


/* FOOTER*/

footer .foot {
    @include footrespons;
    font-size: 1.1em;
}