@import "reset";


@mixin butprinc {
    box-shadow: 4px 4px 8px #212121;
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}

@mixin coeur {
    margin-top: 5px;
    margin-right: 30px;
    font-size: 1.6em;
}
   
@mixin coeur-active {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-out;
}

@mixin pos {
    width: 75%;
    margin: auto;
}

@mixin footrespons {
    padding-left: 0;
    padding-top: 25px;
    height: 80px;
    padding-bottom: 0;
    flex-direction: inherit;
    justify-content: space-around;
    font-size: 1.2em;
    align-items: baseline;
}



body {
    font-family: 'Roboto', sans-serif;
}

.page_complete {
    width: 100%;
    margin: auto;
}

@import "loader";
@import "header";
@import "accueil";
@import "menu";
@import "footer";


@media all and (min-width: 1260px) {
    @import "responsivedesktop";
}

@media all and (min-width: 768px) {
    @import "responsivetablette";
}