
@import "libs/reset.scss";


@mixin butprinc {
    box-shadow: 4px 4px 8px #212121;
    background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}


.page_complete {
    width: 100%;
    margin: auto;
}

body p, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header .logo {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 60px;
}

header img {
    width: 45%;
}

header i {
    width: 20%;
}

header .fa-arrow-left {
    display: flex;
    margin-left: 5%;
    color: #363636;
    font-size: 1.2em;
}



/* MAIN */ 

main .backimg {
    background-image: url('images/restaurants/restaurantmenu1/restaurant1.jpg');
    background-repeat: no-repeat;
    height: 305px;
    position: relative;
}

main .backimg .flex h1 {
    font-size: 1.7em;
    font-family: 'Shrikhand', cursive;
}

main .flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fafafa;
    border-radius: 40px 40px 0 0;
    padding-left: 5%;
    padding-bottom: 30px;
}


main .flex button {
    margin-right: 5%;
}

main .sectionmain {
    background: #fafafa;
    width: 100%;
}

main .sectionmain h1 {
    margin-left: 5%;
}

main .sectionmain h2 {
    margin-left: 5%;
    border-bottom: 3px solid #99E2D0;
    color: #363636;
    margin-bottom: 15px;
    padding-bottom: 5px;
    width: 10%;
    font-size: 1em;
}

main .sectionmain .entre {
    margin-bottom: 40px;
}

main .sectionmain .plats {
    margin-bottom: 40px;
}


main .content h3 {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1em;
}

main .content p:last-of-type {
    color: #2b2b2b;
    font-weight: bold;
    margin-right: 5%;
}

main .content {
    background: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 1px 2px 8px #bdbdbd;
    height: 60px;
}

main .title {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.95em;
}

main .sectionmain .button {
    font-size: 1em;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    box-shadow: 3px 3px 8px #999999;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 80px;
}

main .sectionmain button:hover {
    @include butprinc;
}


/* FOOTER */ 

footer .foot {
    background: #363636;
    padding-left: 5%;
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer .foot h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2em;
    padding-bottom: 10px;
}

footer i {
    width: 22px;
    font-size: 0.9em;
}

footer p {
    padding-bottom: 5px;
    font-size: 1em;
}