@import "reset";

@mixin pos {
    width: 60%;
    margin: auto;
}

@mixin footrespons {
    padding-left: 0;
    padding-top: 25px;
    height: 80px;
    padding-bottom: 0;
    flex-direction: inherit;
    justify-content: space-around;
    font-size: 1.2em;
    align-items: baseline;
}


/* PAGE MENU */

header {
    @include pos;

    a {
        top: 28px;
        font-size: 1.5em;
    }
}






.menu {

    .backimg {
        @include pos;

        .flex {
            background: #ebebeb;
        }
    }

    .for {
        @include pos;
        background: #ebebeb;
        padding-bottom: 15px;
    }
}


/* FOOTER*/

footer .foot {
    @include footrespons;
    font-size: 1.1em;
}